<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
    <ion-buttons slot="end">
<!--       <ion-button routerLink="/home" routerDirection="forward">Home</ion-button>
 -->      <ion-icon routerLink="/home" routerDirection="forward" slot="end"  name="home-sharp" size="small" color="black"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content" >
  <ion-icon name="person-sharp" size="large"></ion-icon>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle routerLink="/registro">Registro de actividad</ion-card-subtitle>
    </ion-card-header>
    <div> 
      <ion-grid>
        <ion-row class="">
          <ion-col class="text-center">
            <ion-tab-button >
              <ion-icon name="calendar"></ion-icon>
              <ion-label>Lunes</ion-label>
            </ion-tab-button>
          </ion-col>
          <ion-col class="text-center">
            <ion-tab-button >
              <ion-icon name="calendar"></ion-icon>
              <ion-label>Martes</ion-label>
            </ion-tab-button>
          </ion-col>
  
          <ion-col class="text-center">
            <ion-tab-button >
              <ion-icon name="calendar"></ion-icon>
              <ion-label>Miercoles</ion-label>
            </ion-tab-button>
          </ion-col>
  
          <ion-col class="text-center">
            <ion-tab-button >
              <ion-icon name="calendar"></ion-icon>
              <ion-label>Jueves</ion-label>
            </ion-tab-button>
          </ion-col>
  
          <ion-col class="text-center">
            <ion-tab-button >
              <ion-icon name="calendar"></ion-icon>
              <ion-label>Viernes</ion-label>
            </ion-tab-button>
          </ion-col>
  
          <ion-col class="text-center">
            <ion-tab-button >
              <ion-icon name="calendar"></ion-icon>
              <ion-label>Sabado</ion-label>
            </ion-tab-button>
          </ion-col>
  
          <ion-col class="text-center">
            <ion-tab-button >
              <ion-icon name="calendar"></ion-icon>
              <ion-label>Domingo</ion-label>
            </ion-tab-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-card-content>  </ion-card-content>
  </ion-card>
</ion-content>
